.SignIn {
    max-width: fit-content;
    margin-left: 25rem;
}
.title {
    float: left;
    font-size: 2rem;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
.col-2-content {
    font-size: 2rem;
    display: inline-block;
    margin-top: 10rem;
    margin-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    }
.form-css {
    background-color: red;
}
.forgot {
    float: right;
    color: slateblue;
    display: inline-block;
    margin-top: 2.5rem;
}
.col-1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 5rem;
}
.col-2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 5rem;
}
