.card {
  &-content,
  &-action {
    text-align: left;
  }

  &-link {
    text-decoration: none;
    
    box-sizing: border-box;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    &:hover {
    
      color: white;
    }
  }
}
