.card {
  &-content,
  &-action {
    text-align: left;
  }

  &-link {
    text-decoration: none;
    background-color: black;
    box-sizing: border-box;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    &:hover {
      background-color: rgb(73, 71, 71);
      color: white;
    }
  }
}
