.card {
  &-content,
  &-action {
    text-align: left;
  }
  width: 600px;
  margin-left: 3rem;
  margin-bottom: 1rem;
  &-link {
    text-decoration: none;
    background-color: black;
    box-sizing: border-box;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    &:hover {
      background-color: rgb(73, 71, 71);
      color: white;
    }
  }
}
