.welcome-page {
    max-width: 200rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.6rem;
    &-title {
        font-size: 4rem;
        text-transform: uppercase;
        color: #333;
        margin: 3rem 0;
    }

    &-description {
        margin-top: 0rem;
        color: #555;
    }
}
